/nbproject/private/
/build/
/Down/App - Venta de Automoviles/build/
/Down/App - Venta de Automoviles/nbproject/private/
/src/Jasper/App - Venta de Automoviles/build/
/src/Jasper/App - Venta de Automoviles/nbproject/private/